@import '../../styles/variables/colors';
@import '../../styles/mixins/breakpoints';

.label {
  display: flex;
  flex-grow: 1;
  max-width: 448px;
  white-space: nowrap;
  background-color: rgba(8, 8, 8, 0.1);
  border-radius: 100px;
}

.input {
  width: 90%;
  padding: 0 0 0 32px;
  background: none;
  border: none;
  outline: none;
  opacity: 0.4;
}

.button {
  color: $color-white;
  padding: 18px 40px;

  @include media-md {
    padding: 12px 24px;
  }
}

.error {
  position: absolute;
  color: red;
}
