@import '../../../../styles/variables/colors';
@import '../../../../styles/mixins/breakpoints';

.opln {
  padding: 96px 0;

  @include media-lg {
    padding: 56px 0;
  }
}

.container {
  @include media-xl {
    padding: 0 45px;
  }

  @include media-sm {
    padding: 0 16px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 72px 0 75px;

  @include media-lg {
    padding: 0;
  }

  @include media-md {
    flex-direction: column;
  }
}

.text {
  width: 409px;
  padding: 0 10px 0 0;

  @include media-md {
    width: auto;
  }
}

.description {
  p {
    margin: 0 0 30px 0;

    &:last-child {
      margin: 0;
    }
  }

  @include media-lg {
    width: auto;
  }

  @include media-md {
    display: none;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  div {
    margin: 0 0 16px 0;

    &:last-child {
      margin: 0;
    }
  }

  @include media-md {
    align-items: flex-start;
  }
}





